<div class=" flex items-baseline justify-end space-x-3 mb-3">
  <%= link_to 'Cancel', tweets_path, class: "rounded shadow-sm text-gray-600 bg-transparent border border-gray-300 px-2 py-1 hover:bg-gray-50 hover:text-gray-900 transition delay-250" %>
</div>

<%= render 'form', tweet: @tweet %>
